.add-todo {
  background-color: #98c1d9;
  border: none;
  display: flex;
  font-family: monospace;
  padding: 8px;
  width: 100%;
}

.add-todo-input {
  background-color: inherit;
  border: inherit;
  color: #293241;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.2;
  margin-left: 4px;
  padding: 4px;
  flex-grow: 1;
}

.add-todo-input:focus {
  outline: none;
}

.add-todo-input::placeholder {
  color: #e0fbfc;
}

.add-todo-icon {
  transform: rotate(90deg);
}

.add-todo-icon:before {
  color: #e0fbfc;
  content: '❯';
  font-size: 32px;
  padding: 0px 4px;
}
