-r requirements.txt

# These are used for development or linting
argh==0.26.2  # used by watchdog
flake8==3.8.4
pylint==2.4.4
pylint-django==2.0.14
pytest==5.4.1
pyyaml==5.4  # used by watchdog
watchdog==0.10.2
yapf==0.29.0
