html,
body,
#root {
  height: 100%;
  background-color: #293241;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
  width: 66%;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

/* Color palette
https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
#e0fbfc - light
#98c1d9 - medium
#3d5a80 - dark
#293241 - near black
#ee6c4d - stand out
*/
